<nav>
    <ul>
        <li><a href="/">Posts</a></li>
        <% if (!locals.currentUser) { %>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/account/sign-up">Sign Up</a></li>
        <% } else { %>
        <li><a href="/account/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>
