<nav>
    <a href="/">Posts</a>
    <% if (!locals.currentUser) { %>
    <a href="/account/login">Login</a>
    <a href="/account/sign-up">Sign Up</a>
    <% } else { %>
    <a href="/logout">Logout</a>
    <% } %>
</nav>
