<nav id="navbar">
    <div class="nav-content wrapper">
        <a class="logo" href="/">MEMBERS_ONLY</a>
        <ul class="account-links">
            <% if (!locals.currentUser) { %>
            <li><a class="btn-link" href="/account/login">Login</a></li>
            <li><a class="btn-link" href="/account/sign-up">Sign Up</a></li>
            <% } else { %>
            <li><a class="btn-link" href="/account/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>
