<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Not Found</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
        <h1>Error 404</h1>
        <p>
            Oops, this page doesn't exist.
            <a
                href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status/404"
                target="_blank"
                >Learn More</a
            >
        </p>
        <p>
            <a href="/">Go back</a>
        </p>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
