<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <!-- Include navbar for logging in and signing up -->
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>

        <h1>Posts</h1>

        <div id="posts">
            <% if (locals.posts) { %> <% posts.forEach(post => { %>
            <div class="post">
                <h2>
                    <%= post.title %>
                </h2>
                <p><%= post.content %></p>
                <small>
                    Posted on
                    <%= post.createdAt.toDateString() %>
                </small>
            </div>
            <% }) %>
            <% } else { %>
            <p>No posts available.</p>
            <% } %>
        </div>

        <!-- Include footer placeholder -->
        <footer>
            <p>&copy; 2025 A Website</p>
        </footer>
    </body>
</html>
