<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <!-- Include navbar for logging in and signing up -->
        <nav>
            <a href="/">Posts</a>
            <a href="/login">Login</a>
            <a href="/sign-up">Sign Up</a>
        </nav>

        <h1>Posts</h1>

        <div id="posts">
            <% if (locals.posts) { %> <% posts.forEach(post => { %>
            <% const createdAt = post.created_at.toDateString(); %>
            <div class="post">
                <div>
                    <h3>
                        <%= post.title %>
                    </h3>
                </div>
                <p><%= post.content %></p>
                <small>
                    <%= `${post.firstname} ${post.lastname} @${post.username}` %>
                    | Posted on
                    <%= createdAt %>
                </small>
            </div>
            <% }) %>
            <% } else { %>
            <p>No posts available.</p>
            <% } %>
        </div>

        <!-- Include footer placeholder -->
        <footer>
            <p>&copy; 2025 A Website</p>
        </footer>
    </body>
</html>
